.cart-container{
    padding: 60px 20px 0 20px;
    display: flex;
    margin: auto;
    width: 100%;
    min-height: calc(100vh - 64px);
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
    .cart-container{
        justify-content: center;
    }
}

.empty-cart-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty-cart-container img{
    width: 30%;
    margin-bottom: 30px;
}
.empty-cart-container span{
    font-size:5vw;
    color: var(--secondary-color);
}
@media screen and (min-width: 1400px) {
    .empty-cart-container span{
        font-size:4rem;
    }
}