.about-container {
    width: 100%;
    height: calc(100vh - 64px);
    min-height: 560px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.about-container .about-text {
    font-size: 280%;
    display: block;
    width: 60%;
    font-family: "Fuzzy Bubbles", cursive;
    text-align: center;
    margin-top: 2.5rem;
    color: var(--main-color)
}
@media screen and (max-width: 600px) {
    .about-container {
        min-height: 400px;
    }
    .about-container .about-text {
        margin-top: 80px;
        font-size: 1.5rem;
    }
}
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.contact-us span{
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--secondary-color);

}
.contact-us .social-icons{
    width: 200px;
    display: flex;
    justify-content: space-between;

}
.contact-us a{
    font-size: 2rem;
    color: var(--main-color);
}
.contact-us .social-icons a:first-child:hover{
    color: #3b5998  ;
}
.contact-us .social-icons a:nth-child(2):hover{
    color: #e154c9  ;
}
.contact-us .social-icons a:last-child:hover{
    color: #1DA1F2  ;
}