.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 10px 24px;
    position: relative;
    background-color: #fff;
    z-index: 1;
}
.header-container .logo {
    width: 8vw;
    min-width: 30px;
    max-width: 50px;
}
.header-container a {
    font-size: 1.3rem;
}
.menu a {
    padding: 10px;
    color: var(--main-color);
    position: relative;
}
.menu a:hover {
    color: var(--secondary-color);
}
.menu a.active {
    color: var(--secondary-color);
}
.menu a.active::after {
    background-color: var(--main-color);
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -5%);
}
@media screen and (max-width: 500px) {
    .menu {
        position: absolute;
        height: 0;
        overflow: hidden;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        transition: 0.4s ease-in-out;
    }
    .menu a {
        margin-bottom: 20px;
    }
    .menu a.active::after {
        top: 50%;
        left: -10%;
        transform: translate(-50%, -50%);
    }
    .menu.open {
        height: calc(100vh - 64px);
        min-height: 250px;
    }
}
.icon-btn {
    width: 40px !important;
    height: 40px;
    color: var(--main-color);
    font-size: 1.25rem !important;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 25px;
}
.icon-btn:hover {
    color: var(--secondary-color);
}
.cart-badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10px;
    top: -20%;
    right: -20%;
    background-color: var(--light-color);
    color: var(--main-color);
}
.icon-btn.active {
    color: var(--secondary-color);
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu-icon .hamburger {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.mobile-menu-icon .hamburger:hover {
    color: var(--secondary-color);
}
@media screen and (max-width: 500px) {
    .mobile-menu-icon {
        display: block;
    }
}
